@charset "UTF-8";

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

/* モード切替をなめらかにする */
.transition-all {
    transition: all 0.3s ease;
}